<article>
    <h4>{{ card.question }}</h4>
    {% if not check_card %}
        <p>{{ card.answer }}</p>
        <hr/>
        <a href="{% url 'card-update' card.id %}" style="background-color: purple;">
            <button>
                ✏️ Edit Card
            </button>
        </a>
        <a href="{% url 'card-delete' card.id %}" style="float: right">
            <button>
                🗑️​ Delete Card
            </button>
        </a>
    {% else %}
        <hr/>       
            {% include "cards/card_check_form.html" %}
    {% endif %}
</article>
