<article>
    <h4>{{ card.question }}</h4>
    {% if not check_card %}
        <p>{{ card.answer }}</p>
        <hr/>
        <div class="container-card">
            <a class="edit-card" href="{% url 'card-update' card.id %}" role="button">
                ✏️ Sửa thẻ
            </a>
            <a href="{% url 'card-delete' card.id %}" role="button">
                    🗑️​ Delete Card
            </a>
        </div>
    {% else %}
    
        <hr/>       
            {% include "cards/card_check_form.html" %}
    {% endif %}
</article>
