{% load cards_tags %}

<nav>
    <a href="{% url 'card-list' %}">🗂 All cards</a>
    <ul class = "navbar-nav">
        {% if user.is_authenticated%}
        <span class = "navbar-text"> Logged in as {{user.username}} | </span>
        <li class = "nav-item">
            <a class = "nav-link" href = "/sign_in"> Logout </a>
        </li>
        {%else%}
        <li class = "nav-item">
            <a class = "nav-link" href = "/sign_in"> Login </a>
        </li>
        {%endif%}
    </ul>
    {% boxes_as_links %}
</nav>
